.doc{
    display: grid;
    gap: 20px;
}
.component-navbar{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 0 50px;
}
.component-doc{
    grid-column: 2/5;
    grid-row: 1/2;
    /* max-width: 1000px; */

}
.on-this-page{
    grid-column: 5/6;
    grid-row: 1/2;
    padding: 0 50px;
}
.component-doc-no{
    font-size: var(--doc-no-size);
    color: var(--primary-yellow);
    font-family: "sofia-pro-light";
    font-weight: 500;
}



@media screen and (max-width: 900px) {
    .component-doc{
        margin: 20px;
        white-space: normal;
        width: 95%;
        
    }
}

@media screen and (max-width: 600px) {
    .component-doc{
        margin: 10px;
        white-space: normal;
        width: 95%;
    }
}