.doc{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: stretch;
    /* position: relative; */
}
.component-doc{
    width: 800px; 
    
}
.component-doc-no{
    font-size: var(--doc-no-size);
    color: var(--primary-yellow);
    font-family: "sofia-pro-light";
    font-weight: 500;
}
.on-this-page{
    min-width: 250px;
    height: 100vh;

    /* margin: 25px 30.5px 0 61px ; */
}
