/* header navbar  */
.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
  
}
.navbar{
    background-color: var(--lightmode-bg-color);
    padding: 25px 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
}
.navbar-logo{
    background-image: url(../../logo/lightning64px.png);
    background-repeat: no-repeat ;
    width: 70px;
    height: 70px;
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-transform: capitalize;
    color: var(--sec-dark-purple);
    font-size: var(--navbar20);
    line-height: 12px;
    font-family: "sofia-pro",sans-serif;
    font-weight: 500;
}
.navbar-list-item{
    color: var(--sec-dark-purple);

}
.icons{
    width: 24px;
    height: 24px;
    color: var(--icons-grey);
}
.navbar-list-item:hover{
    color: var(--primary-yellow);
}
/* media queries of header navbar */
.phone-navbar{
    display: none;
  }
@media screen and (max-width: 600px) {
    .navbar{
        display: none;
    }
    .phone-navbar{
        display: flex;
        padding: 10px;
        width: 100vw;
        height: 80px;
        border-radius: 0px;
        background-color: var(--lightmode-bg-color);
        justify-content: space-between;
        flex-wrap: wrap;
        /* position: sticky; */
      }
      .phone-navbar-logo{
          width: 40px;
          height: 40px;
      }
      .phone-nav-body{
          width: 100vw;
          height: 80vh;
          background-color: var(--lightmode-bg-color);
          border-radius: 0px;
      }
      .bar-icon{
          border: none;
          background-color: var(--lightmode-bg-color);
      }
}
@media screen and (max-width: 900px) {
    .navbar{
        display: none;
    }
    .phone-navbar{
        display: flex;
        padding: 10px;
        width: 100vw;
        height: 80px;
        border-radius: 0px;
        background-color: var(--lightmode-bg-color);
        justify-content: space-between;
        flex-wrap: wrap;
        /* position: sticky; */
      }
      .phone-navbar-logo{
          width: 40px;
          height: 40px;
      }
      .phone-nav-body{
          width: 100vw;
          height: 80vh;
          background-color: var(--lightmode-bg-color);
          border-radius: 0px;
      }
      .bar-icon{
          border: none;
          background-color: var(--lightmode-bg-color);
      }
}



@media screen and (max-width: 600px) {
    .component-doc{
        margin: 20px;
        white-space: normal;
        min-width: 300px !important;
    }
}
@media screen and (max-width: 900px) {
    .component-doc{
        margin: 20px;
        white-space: normal;
        min-width: 300px !important;
    }
}
    




/* documentation page side sidebar */

.component-navbar{
    margin-left: 20px;
    min-width: 250px;
    height: 100vh;
}
.sidebar{
    position: fixed;
   
    margin-left: 20px;
    min-width: 250px;
    height: 100vh;

}

@media screen and (max-width: 600px) {
    .component-navbar{
        display: none;
        
    }
  }

  @media screen and (max-width: 900px) {
    .component-navbar{
        display: none;
        
    }
}
.on-this-page-bar{
    position: fixed;
    top: 150px;
    right: 30px;
    min-width: 250px;
    height: 100vh;
}
.component-navbar-item{
    font-size: var(--side-navbar-subheading);
    font-family: "Sofia-pro";
    font-weight: 200;
    color: var(--sec-light-purple);
    margin-bottom: 8px;
}
.line-hori{
    border-bottom: 1px solid var(--hr-color);
}
.component-navbar-item-link:hover{
    color: var(--primary-yellow);
}
@media screen and (max-width: 600px) {
    .on-this-page{
        display: none;
        
    }
  }
  @media screen and (max-width: 900px) {
    .on-this-page{
        display: none;
        
    }
  }