.navbar{
    padding: 25px 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-logo{
    background-image: url(../../logo/lightning64px.png);
    background-repeat: no-repeat ;
    width: 70px;
    height: 70px;
}
.navbar-list{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    text-transform: capitalize;
    color: var(--sec-dark-purple);
    font-size: var(--navbar20);
    line-height: 12px;
    font-family: "sofia-pro",sans-serif;
    font-weight: 500;
}
.navbar-list-item{
    color: var(--sec-dark-purple);

}
.icons{
    width: 24px;
    height: 24px;
    color: var(--icons-grey);
}
.navbar-list-item:hover{
    color: var(--primary-yellow);
}

/* documentation page side sidebar */

.component-navbar{
    margin: 25px 30.5px 0 61px ;

}
.component-navbar-heading{
    font-size: var(--side-navbar-heading);
    color: var(--sec-dark-purple);
    font-family: "Recoleta-light";
    font-weight: 200;
    margin-bottom: 16px;
}
.component-navbar-item{
    font-size: var(--side-navbar-subheading);
    font-family: "Sofia-pro";
    font-weight: 200;
    color: var(--sec-light-purple);
    margin-bottom: 8px;
}
.component-navbar-item-link{
    color: var(--sec-light-purple);
}
.hr-sidebar{
    border-top: 1px solid var(--hr-color);
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 253px;
    margin: 16px 0 8px 0;  
}
.component-navbar-item-link:hover{
    color: var(--primary-yellow);
}