*{
    margin: 0px;
    padding: 0px;
    /* border-radius:var(--border-radius) ; */
    /* text-transform: capitalize; */
    /* background-color: var(--lightmode-bg-color); */
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex{
    display: flex;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.f-col{
    flex-direction: column;
}
.flex-centre{
    align-items: center;
  justify-content: center;
}
.f-end{
    /* align-content: center; */
  justify-content: flex-end;

}
.code{
    /* border: 1px solid var(--gray-text); */
}
@font-face {
    font-family: "Recoleta";
    src: url("../../fonts/5fc4e5f7211f779cde7e6408_Recoleta.woff") format("woff");
}

@font-face {
    font-family: "Recoleta-light";
    src: url("../../fonts/5fc4e564f7e15521768fa57f_font.woff") format("woff");
}
@font-face {
    font-family: "sofia-pro-light";
    src: url("../../fonts/pe03MImSLYBIv1o4X1M8cc8WAc5tU1E.woff2") format("woff2");
}
@font-face {
    font-family: "sofia-pro";
    src: url("../../fonts/pe0qMImSLYBIv1o4X1M8cce9I9s.woff2") format("woff2");
}
@font-face {
    font-family: "Recoleta-lightest";
    src: url("../../fonts/5fc4e543666dc00d38298255_font\ \(1\).woff") format("woff");
}
.mg-16{
    margin: 16px 0;
}
.mg-top20{
    margin-top: 20px;
}
.mg-top40{
    margin-top: 40px;
}
.postion{
    position: absolute;
    top: 20px;
    right: 20px;
}
.bg{
    background-color: transparent;
}