:root {
    --primary-yellow:#FFC850;
    --primary-yellow-op01:rgba(255, 200, 80,0.1);
    --lightmode-bg-color:#FFF;
    --sec-dark-purple: #3B294F;
    --sec-light-purple: #4B336D;
    --sec-lightest-purple: #886dad;
    --icons-grey: #707070;
    --hr-color:rgba(126, 102, 160,0.5);
    --suc-green:rgb(2, 126, 56);
    --suc-greeno01:rgb(2, 126, 56);

    --navbar20:18px;

    --border-radius: 8px;

    --title: 48px;
    --subtitle: 20px;
    --side-navbar-heading:24px;
    --side-navbar-subheading:18px;
    --doc-no-size:64px;

    --padding-act-comp-box:800px;

    --cta-btn-font-size: 16px;

    --btn-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    --btn-box-shadow-onhover: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);

}  