.component-avatar{
    margin: 2.5rem 0;
    padding: 20px;
    gap: 0.625rem;
    border: 2px solid var(--primary-yellow-op01);
    max-width: var(--padding-act-comp-box);
    /* background-color: var(--primary-yellow-op01) */
    overflow-y: scroll;
}
.avatar{
    border-radius: 50%;
    object-fit: cover;
}
.avatar-xl{
    width: 5.5rem;
    height: 5.5rem;
}
.avatar-l{
    width: 4.5rem;
    height: 4.5rem;
}
.avatar-md{
    width: 4rem;
    height: 4rem;
}
.avatar-s{
    width: 3rem;
    height: 3rem;
}
.sq-avatar{
    border-radius: 8px;
}
.component-avatar::-webkit-scrollbar {
    display: none;
}