.component-avatar{
    margin: 2.5rem 0;
    padding: 20px;
    gap: 0.625rem;
    background-color: var(--sec-dark-purple);
    overflow-y: scroll;
    width: 100%;
}
.avatar{
    border-radius: 50%;
    object-fit: cover;
}
.avatar-xl{
    width: 5.5rem;
    height: 5.5rem;
}
.avatar-l{
    width: 4.5rem;
    height: 4.5rem;
}
.avatar-md{
    width: 4rem;
    height: 4rem;
}
.avatar-s{
    width: 3rem;
    height: 3rem;
}
.sq-avatar{
    border-radius: 8px;
}
.component-avatar::-webkit-scrollbar {
    display: none;
}