/* badge  */
.badge{
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.badge-success{
    color: #fff;
    background-color: var(--suc-green);
}
.badge-error{
    color: #fff;
    background-color: var(--alert-red);
}
.badge-warning{
    color: #fff;
    background-color: var(--primary-yellow);
}
.badge-info{
    color: #fff;
    background-color: var(--info-blue);
}
/* badge on avatar */
.badge-on-avatar{
    position: relative;
    background-color: transparent;
}
.badge-span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    
}
.badge-online{
    background-color:#38a169 ;
}
.badge-offline{
    background-color: rgb(189, 188, 188) ;
    
}
.badge-dnd{
    background-color: yellow ;
    
}
/* badge on icons */
.badge-count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: rgb(233, 34, 34);
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.color{
    color: var(--sec-dark-purple);
    background-color: transparent;
}