
/* badge  */
.badge{
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.badge-success{
    color: #fff;
    background-color: #38a169;
}
.badge-error{
    color: #fff;
    background-color: #e53e3e;
}
.badge-warning{
    color: #fff;
    background-color: #dd6b20;
}
.badge-info{
    color: #fff;
    background-color: #3182ce;
}
/* badge on avatar */
.badge-on-avatar{
    position: relative;
}
.badge-span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    
}
.badge-online{
    background-color:#38a169 ;
}
.badge-offline{
    background-color: rgb(189, 188, 188) ;
    
}
.badge-dnd{
    background-color: yellow ;
    
}
/* badge on icons */
.badge-count{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: rgb(233, 34, 34);
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.color{
    color: var(--sec-dark-purple);
}