.card-basic{
    position: relative;
    text-align: center;
    min-width: 300px;
    border: 2px;
    box-shadow: var(--btn-box-shadow);
    background-color: #C4C4C480;
    border-radius: 8px;
}
.card-img{
    width: 20rem;
    height: 15rem;
    padding: 10px;
}
.card{
    font-size: 21px;
    font-weight: 400;
}
.card-subtitle{
    font-size: 18px;
    color: rgba(128, 128, 128, 0.8);

}
.card-typo{
    background-color: var(--lightmode-bg-color);
    padding: 20px 20px;
}
.card-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card-vertical{
    display: flex;
    padding: 25px 25px;

}
.shadow{
    box-shadow: var(--btn-box-shadow);

}
