.card-basic {
  position: relative;
  text-align: center;
  max-width: 300px;
  box-shadow: var(--btn-box-shadow);
  background-color: #c4c4c480;
  border-radius: 8px;
}
.card-img {
  /* width: 20rem; */
  height: 15rem;
  padding: 10px;
}
.card {
  font-size: 21px;
  font-weight: 400;
}
.card-subtitle {
  font-size: 18px;
  color: rgba(128, 128, 128, 0.8);
}
.card-typo {
  background-color: var(--lightmode-bg-color);
  padding: 20px 20px;
  border-radius: 0 8px 8px 0;
  /* border-radius: 8px; */
}
.card-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.card-vertical {
  display: flex;
  border-radius: 0 4px 4px 0;
}
.shadow {
  box-shadow: var(--btn-box-shadow);
}
.width100 {
  width: 100%;
}
/* from here bitch */
.card-typo > i {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.vertical-card-height {
  height: 280px;
  border-radius: 8px !important;
}
.quantity-container {
  display: flex;
  font-size: 16px;
  justify-content: start;
  align-items: center;
}
.quantity {
  border: 1px solid var(--sec-dark-purple);
  padding: 0 2px 0 2px;
}
.quantity-count {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #9a9a9a;
  margin: 0 8px 0 8px;
  cursor: pointer;
}
.quantity {
  width: 36px;
  height: 24px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid #9a9a9a;
  cursor: auto;
}
.quantity-count:hover {
  box-shadow: var(--btn-box-shadow);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.overlay > button {
  position: relative;
  top: 50%;
  cursor: auto;
  box-shadow: none;
}
.overlay > button:hover {
  box-shadow: none;
}
