.card-basic{
    border: 2px;
    padding: 30px 60px;
    text-align: center;
    box-shadow: var(--btn-box-shadow);
    position: relative;

}
.card-img{
    width: 10rem;
    height: 10rem;
    box-shadow: var(--btn-box-shadow);

}
.card{
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: #fff; */
    font-weight: 400;
}
.card-subtitle{
    font-size: 18px;
    color: rgba(128, 128, 128, 0.8);
    margin-bottom: 20px;

}
.card-typo{
    margin: 10px ;
}
.card-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card-vertical{
    display: flex;
    padding: 25px 25px;

}
.shadow{
    box-shadow: var(--btn-box-shadow);

}
