.textarea-body{
    border: 1px solid rgba(128, 128, 128,0.8) ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: var(--btn-box-shadow);
    max-width: 300px;
    
}
.textarea-label{
    color: rgba(128, 128, 128,0.8);
    font-size: 18px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    margin-bottom: 8px;
}
.input{
    border: 1px solid rgba(128, 128, 128,0.8);
    padding: 8px;
    font-size: 16px;
    margin-bottom: 15px;

}
.textarea{
    border: 1px solid rgba(128, 128, 128, 0.8);
}
.form-btn{
    margin-top: 20px;
    text-align: end;
}