.textarea{
    border: 2px solid rgba(128, 128, 128, 0.8);
    padding: 1rem;
    box-shadow: var(--btn-box-shadow);
    min-width: 100%;
    min-height: 120px;
    background-color: #fff;
    border-radius: 8px;
}
.textarea-label{
    color: var(--sec-dark-purple);
    font-size: 16px;
    font-weight: 500;
    margin: 4px;
    text-transform: capitalize;

}
.input{
    border: 2px solid rgba(128, 128, 128,0.8);
    padding: 8px;
    font-size: 16px;
    outline: none;
    min-width: 100%;
    border-radius: 8px;

}
.input:focus{
    border: 2px solid var(--sec-dark-purple);
}
.form-btn{
    margin-top: 20px;
    text-align: end;
}
.input-box{
    display: flex;
    flex-direction: column;
}
.error-input{
    border: 2px solid var(--alert-red);
}
.error-msg{
    color: var(--alert-red);
}
.war-input{
    border: 2px solid var(--primary-yellow);
}
.war-msg{
    color: var(--primary-yellow);
}
.confirm-input{
    border: 2px solid var(--suc-green);
}
.confirm-msg{
    color: var(--suc-green);
}